html,
body {
    margin: 0;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

.container {
    display: grid;
    grid-template-columns: 350px 2fr;
}

.sidebar {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    background-color: #DDF8E8;
    padding: 1rem;
}

.header {
    padding: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.header-row,
.header-rowtwo {
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: 2fr 1fr;
}

.search {
    display: flex;
    align-items: center;
    padding: 0 1rem 0 2rem;
    gap: 20px;
}

.search input {
    height: 45px;
    width: 1000px;
    border-radius: 50px;
}

.ring {
    display: grid;
    grid-template-columns: 120px 120px 1fr;
    justify-items: start;
    align-items: center;
    padding-left: 3rem;
}

.header-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem 0 2rem;
    gap: 20px;
}

.panda {
    border: 1px solid #08415c6e;
    border-radius: 50%;
    background-color: #08415c6e;
}

.header-flex p {
    margin: 0;
    padding-top: 4px;
}

.header p {
    font-weight: 600;
}

.header-rowtwo ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    justify-items: center;
    align-items: center;
}

.header-rowtwo li {
    border: 1px solid #DDF8E8;
    background-color: #DDF8E8;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    border-radius: 30px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5)
}

/*
.logo,
.side-main,
.side-add {
    display: flex;
    gap: 10px;
}

.logo {
    font-size: 35px;
}

.sidebar-aside {
    margin-top: 1rem;
}

.header {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 2fr;
    grid-column: 2 / 3;
    font-size: 28px;
}

.header-rowone {
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: 1fr 2fr;
}

.ring img {
    align-self: center;
}

.header-rowone div:nth-child(2) {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    justify-items: center;
    padding-right: 20px;
}

.header-rowtwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / 3;
}

.header-rowtwo p {
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    gap: 15px;
}

.projects {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-row: 1 / 3;
}

.project-header {
    align-self: center;
    grid-column: 1 / 3;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
}

.projects .card {
    display: grid;
    grid-template-rows: 1fr 120px;
    grid-auto-flow: column;
    border: 1px solid;
}

.project-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.project-side>div {
    border: 1px solid;
}

.announcement-header {
    align-self: center;
    padding: 1.25rem;
}

.announcement-cards {
    border: 1px solid;
    padding: 10px;
}

.announcement-cards>div:not(:last-child) {
    border-bottom: 1px solid;
} */